#root{
    height: 100%;
}
.wrapper{
    height: 100%;
  padding: 10px;
  display: grid;
  grid-template-areas:
          "header header"
          "aside content"
          "footer footer";
  grid-template-columns: 2fr 10fr;
  grid-template-rows:100px 1fr 100px ;
  gap: 20px;
}
.wrapper .wrapper__content{
  background-color: #04f5f5;
}
